#header{
    background-color: #f5f5f5;
}
#header-left{
    background-color: #5f5f5f;
    padding: 10px;
}
#header-right{
    background-color: #5f5f5f;
    padding: 10px;
}


table{
    padding: 5px;
    text-align: center;
}
table tr{
    padding: 5px;
    text-align: center;
}
table th{
    padding: 2px;
    text-align: center;
}
table td{
    padding: 2px;
    text-align: center;
}


table thead tr th:first-child {
    background-color: red;
}
table tbody tr td:nth-child(odd){
    background-color: gray;
}